body {
  color: #111;
}

a {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted #111;
}

a.image {
  border-bottom: none;
}

h1 {
  font-size: 40px;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px solid #717273;
  margin-bottom: 35px;
	font-variant: normal;
	font-size: 24px;
	position: relative;
}

.header h1 {
  margin-bottom: 0px;
  height: 70px;
}

.header h1 a {
  text-decoration: none;
  border: none;
}

.header .rss {
  position: absolute;
  right: 0;
  top: 40px;
}

.rails {
	font-variant: small-caps;
	font-size: 60px;
}

ul.posts {
  list-style: none;
}

ul.posts li {
  margin-left: 10px;
}

li.post {
  margin-bottom: 70px;
}

li.post h1 {
  margin-bottom: 0px;
  font-size: 24px;
}

div.post {
  margin-left: 10px;
}

.post img {
  display: block;
  margin: 10px 0;
}

.post h1 {
  font-size: 32px;
  line-height: 1.0em;
  color: #7fad26;
}

.post h1 a, a:hover {
  text-decoration: none;
  border: none;
  color: #7fad26;
}

.post-date {
  float: right;
}

.post-date img {
  display: inline;
  margin:0;
}


.post-header {
  overflow: hidden;
  margin-bottom: 10px;
  color: #666;
}

.post-header a {
  color: #666;
  border-border: 1px dotted #666;
}


.sidebar {
  margin: 30px 0;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
  margin-left: 0px;
}

.sidebar p{
  text-align: justify;
}

.sidebar h2 {
  margin: 0px auto 10px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.sidebar h2 img {
  margin: 0px 3px;
}

.post pre {
  border:4px solid #f0f0f0;
  color:#222222;
  font-size:115%;
  margin:1.2em 0;
  padding:1em;
  position:relative;
  text-align:left;
  white-space:pre-wrap;
}

.footer {
  margin: 50px 0;
  padding: 10px 0px;
}

#comments {
  margin-top: 50px;
}

#comment_form 
  { color: #444444; }

#comment_form label,
#comment_form input.text,
#comment_form textarea
  { font-size: 95%;
    text-align: left;
  	width: 12em;
  	padding: 2px;
  	margin-bottom: 15px;
  	display: block;
  	float: left; }
#comment_form textarea
  { width: 35em; }
#comment_form label
  { color: #444; 
    font-size: 85%;
    text-align: right;
  	width: 6em;
  	padding-right: 10px; 
  	padding-top: 0.5em; }
#comment_form label.required
  { font-weight: bold; }
#comment_form span
  { color: #9d9d9d;
    font-size: 80%;
    padding: 0.5em 0 0 0.5em;
    float: left;  } 
#comment_form.error label
{ color: #fb076e;
	font-weight: bold; }
#comment_form br 
  { clear: both; }
#comment_form .submit 
  { float: left;
    margin-left: 44em;
    padding: 0 1em 0 0.5em; }

#comment_form h3 
  { color: #444 !important; 
    font: bold 100%/130% Helvetica, Arial, sans-serif; 
    text-transform: uppercase; 
    text-align: left !important; 
    margin: 1.2em 0 0.6em 0; 
    height: 1em; 
    position: relative; 
    margin-bottom: 1.6em; }
#comment_form h3 span 
  { background: #fafafa; 
    padding: 0 0.5em; 
    position: absolute; 
    left: 13.3em; 
    z-index: 100; }
.error {
  float: left;
  clear: left;
  margin-left: 6em;
  margin-top: -15px;
}

.message {
  border-bottom: 1px solid #606060;
}

.message p {
  margin: 5px 0;
}

.author {
  padding-top: 10px;
  padding-left: 30px;
  margin-left: 70px;
  background: url(/images/callout.gif) no-repeat left bottom;
}

.comment {
  position: relative;
}

.comment .number {
  position: absolute;
  left: -50px;
  top: -15px;
  font-size: 40px;
  color: #999;
}